<h2 class="pahe-header">Create Lot</h2>
{{#if errors}}
    {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}

<form method="post" action="/users/createlot">
<div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control"
           placeholder="Name" name="name">
        </div>
    <div class="form-group">
    <label>Age</label>
    <input type="number" class="form-control"
           placeholder="Age" name="age">
        </div>
        <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" rows="3" placeholder="Description" name="description"></textarea>
        </div>
    <div class="form-group">
    <label>Picture</label>
    <input type="text" class="form-control"
           placeholder="Picture" name="picture">
        </div>
    <div class="form-group">
    <label>Starts</label>
    <input type="Text" class="form-control"
           placeholder="Starts" name="starts">
        </div>
        <div class="form-group">
        <label>Category</label>
        <select class="form-control" name="category">
            <option>Girls</option>
            <option>Boys</option>
        </select>
        </div>
        <div class="form-group">
        <label>Duration</label>
        <select class="form-control" name="duration">
            <option>1 day</option>
            <option>3 days</option>
            <option>1 week</option>
            <option>2 weeks</option>
            <option>1 month</option>
        </select>
        </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>